/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: #fe1b1b;
  --main-color-tint: #ffbbbb;
  --main-color-tint2: #ffe8e8;
  --main-color-shade: #df1818;
  --grey-color: #00002a;
  --grey-color-tint: #4d4d6a;
  --accent-color: #ffcc01;
  --accent-color-tint: #ffe067;
  --accent-color-shade: #e6b801;
  --box-focus: rgba(254, 27, 27, 0.5);
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  color: var(--grey-color);
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem var(--box-focus);
}

main {
  height: calc(100vh - 10rem);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 90rem;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
