.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav-tab-container {
  display: flex;
}

.nav-tab,
.brand {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 25rem;
  padding: 0.5rem 2rem;
  transition: background-color 0.4s;
}

.nav-tab:focus {
  box-shadow: none;
}

.nav-tab:hover {
  cursor: pointer;
  background-color: var(--main-color-tint2);
  text-decoration: underline;
}

.active {
  border-bottom: 2px solid var(--main-color);
}

.nav-icon-container,
.pokeball-container {
  height: 3rem;
  width: 3rem;
}

.nav-icon-container svg {
  height: 100%;
  width: auto;
  stroke: var(--grey-color);
}

.nav-text,
.brand {
  color: var(--grey-color);
  font-size: 2rem;
}

/*POKEBALL ICON STYLES*/

.st0 {
  fill: #ffffff;
}
.st1 {
  fill: #dfdfdf;
}
.st2 {
  fill: #ff1c1c;
}
.st3 {
  fill: #df1818;
}
